# Dependencies
/node_modules
/.pnp
.pnp.js

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Database
.mongodb-data/
*.db
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Build
/dist
/buildnpm-debug.log*
yarn-debug.log*
yarn-error.log*
